
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    /* height: 100vh; */
    font-family: 'Poppins';
    background: #E6E7E8;
    color: #00416B;
}

.container {
    padding: 20px 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.animation-div {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 129, 129);
    position: relative;
}

.description-div {
    width: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7%;
}

.outline {
    position: relative;
    z-index: 3;
    width: 50%;
    height: 20px;
    border: 5px solid rgb(151, 255, 151);
    border-radius: 50px;
}

.fill {
    position: relative;
    z-index: -1;
    height: 20px;
    background-color: white;
    border-radius: 50px;
    animation: load 2s infinite;
}

.animation {
    background-color: white;
    width: 100%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

@keyframes load {
    0% {
        width: 5%;
    }

    100% {
        width: 100%;
    }
}
/* second animation */
.heart {
    height: 150px;
    width: 150px;
    margin: 0 10px;
    background: #e54854;
    position: relative;
    animation: pulse 1s ease infinite;
    border-radius: 10px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #e54854;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .heart:before {
    top: 0;
    left: -75px;
  }
  
  .heart:after {
    top: -75px;
    left: 0;
  }
  ._heart{
    background-color: white;
  }
  @keyframes pulse {
    0% {
      transform: rotate(45deg) scale(0.75);
    }
    50% {
      transform: rotate(45deg) scale(1);
    }
    100% {
      transform: rotate(45deg) scale(0.75);
    }
  }
  

    
  .ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cb82ff; 
    position: absolute;
    bottom: 0;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(-300px);
    }
    30% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(-220px);
    }
    60%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  /* text */
  .fading-text {
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fading-text span {
    font-size: 23px;
    animation: fade 3s infinite;
}

  @keyframes fade {
      0% {
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  ._heart{
    background-color: rgb(255, 212, 212);
}
  ._ball{
    background-color: rgb(255, 255, 86);
  }
  ._text{

      background-color: #00416B;
  }